.list__controls {
  margin-top: 2.225rem;
  margin-bottom: 2.225rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

@media (min-width: 900px) {
  .list__controls {
    width: 30%;
    justify-content: space-between;
  }
}
